.footer{
    display: grid;
    position: relative;
    height: 40vh;
    width: 100vw;
    background-color: #298172;
    grid-template-columns: repeat(4, 1fr);
    color: #f9f9f9;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    left: 0;
    background-size: 1000px 80px;
}

.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1;
    opacity: 0.2;
    animation-delay: 0s;
    bottom: 0;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 1;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 0px;
}

.wave.wave3 {
    animation: animate2 30s linear infinite;
    z-index: 1;
    opacity: 0.1;
    animation-delay: -2s;
    bottom: 0px;
}

.wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 1;
    opacity: 0.1;
    animation-delay: -5s;
    bottom: 0px;
}

@keyframes animate
{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}