.container_product {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.category {
    width: 30vw;
    height: 80vh;
    padding: 20px 0px;
    margin: 0px 7px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 5px solid #298172;
}


.botoncategorias{
    border:1px solid #298172;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px 0px;
    padding: 7px ;
    color: #00251F;
    width: 70%;
    font-weight: 900;
    text-align: center;
    font-size: small;
}

.botoncategorias:hover{
    background-color: #00251F;
    color: white;
}

.contenedortarjet {
    width: 60%;
    height: 80vh;
    border-radius: 15px;
    margin: 0px 7px;
    overflow-y: scroll;
    display: flex;
}

.contenedortarjet > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.contenedortarjet::-webkit-scrollbar {
    width: 10px;
}

.contenedortarjet::-webkit-scrollbar-thumb {
    background-color: #226559d1;
    border-radius: 10px;
}

.tarjeta {
    background-color: #00251F;
    color: white;
    border-radius: 20px;
    max-width: 10rem;
    min-width: 5rem;
    height: 15rem;
    padding: 20px 0px;
    margin: 20px 20px;
    box-shadow: 7px 8px 2px #298172;
}

.nombre {
    text-align: center;
}

.descripcion {
    margin-bottom: 10px;
    width: 90%;
    height: 6vh;
    overflow: hidden;
    font-size: small;
}

.products{
    display: flex;
    width: 50vw;
    height: 80vh;
}

.contenedortarjet{
    display: flex;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.imagenes img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    margin: 10px;
}

.padre {
    display: none;
    align-items: center;
    margin: 20px;
    position: absolute;
    left: 10%;
    width: 80vw;
}

.container {
    background-color: rgba(34, 101, 89, 0.7);
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 400px;
    padding: 30px;
    border: 5px solid #00251F;
}

.izquierda {
    flex-wrap: wrap;
    width: 70%;
}

.derecha {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: large;
    width: 40%;
}

.colores {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.colores .coloresdots {
    display: flex;
    margin-left: 15px;
}

.colores .coloresdots div{ 
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.derecha button {
    padding: 5px 10px;
    background-color: #87D8CA;
    border: #87D8CA;
    border-radius: 20px;
    margin-top: 15px;
    font-size: medium;
    color:#00251F;
    font-weight: 500;
    margin-left: 10px;
}