@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    justify-content: space-evenly;

}

/* Estilo para la ventana modal */
.backgroundOpacity {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
  }
  
  .form {
    background-color: #fefefe;
    margin-left: 80px;
    margin-right: 40px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
  }
  
  .Login {
    text-align: center;
  }
  
  .label {
    display: block;
    margin-top: 10px;
  }
  
  .input-email,
  .input-password {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .button-send {
    width: 100%;
    padding: 10px;
    background-color: #298172;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .button-send:hover {
    background-color: #45a049;
  }
  
  .divRight {
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
  }
  
  .registerBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    
  }
  
  .registerBtn:hover {
    background-color: #45a049;
  }
  


.backgroundOpacity {
    background-color: rgba(41, 129, 114, 0.5);
    color: white;
    display: flex;
    /* gap: 10px; */
    justify-content: space-evenly;
}

.divRight {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-right: 20%;
    font-size: larger;
    gap: 20px;
}

.Login {
    font-family: 'Poppins';
    align-self: center;
    /* margin-bottom: 10px; */
    color: #226559;
}

.registerBtn {
    align-self: flex-start;
    padding: 5px 2.5px;
    border: none;
    border-radius: 30px;
    color: #226559;
    background-color: white;
    cursor: pointer;
    width: 130px;
    align-self: center;
    font-weight: 600;
    font-size: 17px;
    margin-top: 10px;
}

.label {
    margin-bottom: 5px;
    color: #226559;
    font-family: 'Poppins';
}

.input-email,
.input-password {
    /* margin-bottom: 10px; */
    padding: 5px;
    border:rgba(135, 216, 202, 0.5) ;
    border-radius: 10px;
    background-color: rgba(135, 216, 202, 0.5);
    width: 90%;
    align-self: center;
}

.button-send {
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    background-color: #226559;
    color: white;
    cursor: pointer;
    width: 130px;
    align-self: center;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;

}

.button-send:hover {
    background-color: #298172;
}