@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 15%;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3em;
    color: #359381;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
}

.navigation a {
    font-size: 20px;
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin:0 10px;
    font-weight: 600;
}

.navigation a:hover, a.active {
    background-color: #359381;
    color: #f9f9f9;
}

.nav_active{
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_active img{
    background-color: #003329;
}

.search{
    background-color: #fff;
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 50%;
    position: relative;
}

.search img{
    margin-right: 10px;
    position: absolute;
    left: 88%;
    background-color: none;
}


 
#search_input{
    border: none;
    width: 100%;
    height: 100%;
    border-end-end-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#search_input:placeholder-shown{
    font-size: 20px;
    display: flex;
}




.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0,.2);
    z-index: -1;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.sec{
    background-color: #003329;
    padding: 100px;
}   